# Dependencies
node_modules/

# Build output
dist/
.astro/
public/fonts/devicon-subset.woff2
public/css/devicon-subset.css
public/fonts/fa-solid-subset.woff2
public/fonts/fa-regular-subset.woff2
public/css/fontawesome-subset.css

# Logs
npm-debug.log*
*.log

# Editor/OS
.DS_Store

# Env files
.env
.env.production
